In [49]:
# Dependencies
import numpy as np
import pandas as pd
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, distinct

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [59]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
june_results = session.query(Measurement.tobs).\
            filter(extract('month', Measurement.date) == '06').\
            all()

In [60]:
#  3. Convert the June temperatures to a list.
june_temps = list(np.ravel(results))

In [101]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_temps_df = pd.DataFrame(june_temps, columns=['Temps'])
june_temps_df

      Temps
0      78.0
1      76.0
2      78.0
3      76.0
4      77.0
...     ...
1695   79.0
1696   74.0
1697   74.0
1698   76.0
1699   75.0

[1700 rows x 1 columns]

In [102]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_temps_df.describe()

             Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [65]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
dec_results = session.query(Measurement.tobs).\
            filter(extract('month', Measurement.date) == '12').\
            all()

In [66]:
# 7. Convert the December temperatures to a list.
dec_temps = list(np.ravel(dec_results))

In [97]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
dec_temps_df = pd.DataFrame(dec_temps, columns=['Temps'])
dec_temps_df

      Temps
0      76.0
1      74.0
2      74.0
3      64.0
4      64.0
...     ...
1512   71.0
1513   71.0
1514   69.0
1515   65.0
1516   65.0

[1517 rows x 1 columns]

In [98]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec_temps_df.describe()

             Temps
count  1517.000000
mean     71.041529
std       3.745920
min      56.000000
25%      69.000000
50%      71.000000
75%      74.000000
max      83.000000

In [94]:
june_temps_df.describe()

             Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

In [70]:
##########################
# additional queries
##########################

In [71]:
# querie for percipitation in june
june_prcp_results = session.query(Measurement.prcp).\
                    filter(extract('month', Measurement.date) == '06').\
                    all()

In [72]:
# convert to list (not needed, these particular results can be made into a DF as is)
june_prcp = list(np.ravel(june_prcp_results))

In [104]:
# convert list to db
june_prcp_df = pd.DataFrame(june_prcp, columns=['June Percipitation Stats'])

In [105]:
# get stats
june_prcp_df.describe()

       June Percipitation Stats
count               1574.000000
mean                   0.136360
std                    0.335731
min                    0.000000
25%                    0.000000
50%                    0.020000
75%                    0.120000
max                    4.430000

In [75]:
# query for prcp in dec
dec_prcp_results = session.query(Measurement.prcp).\
                    filter(extract('month', Measurement.date) == '12').\
                    all()

In [76]:
# convert to list (not needed, these particular results can be made into a DF as is)
dec_prcp = list(np.ravel(dec_prcp_results))

In [107]:
# convert list to db
dec_prcp_df = pd.DataFrame(dec_prcp, columns=['December Percipitation Stats'])

In [108]:
# get stats.
dec_prcp_df.describe()

       December Percipitation Stats
count                   1405.000000
mean                       0.216819
std                        0.541399
min                        0.000000
25%                        0.000000
50%                        0.030000
75%                        0.150000
max                        6.420000